.App {
  font-family: 'Gideon Roman', cursive;
  height: 100vh;
  font-size: 16px;
  display: grid;
  grid-template-rows: 10% 80% 10%;
}



/* NavBar links */

#link {
      text-decoration: none; 
      color: #979494;
}

#link:hover {
  font-size: 2.5rem;
  color: #02FFFF;
  font-weight: 900;
  margin: 0.3rem;
}

#link:active{
  text-decoration: underline;
}

#link:visited{
  text-decoration: underline;
} 

/* Footer  */
