.carousel{
    overflow: visible; 
  
}

/* .inner{
    white-space: nowrap;
    transition: transform 0.3s;
    
} */
/* 
.carousel-item{

    white-space: nowrap;
    display: inline-block;
    align-items: center; 
    justify-content: center;
    height: 200px;
    background-color: green;
    color: #fff;


} */

.indicators{
    display: flex;
    justify-content: center;
}

.indicators > button{
    margin: 5px;
}

.arrorLeft:hover, .arrorRight:hover{
    background: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    opacity: 0.5;
    color: #02FFFF;
}

.arrorLeft, .arrorRight{
    position: absolute;
    top: 18%;
    background: none;
    width: 10%;
    bottom: 18%;
    border: none;    
}


.arrorLeft{
    left: 5%;   
}

.arrorRight{
    right: 5%;
}

.indicators > button.active, .indicators > button.notActive{
    margin-top: 2rem;
}

.indicators > button.active{
    background-color: #02FFFF;
 
} 

.indicators > button.notActive{
    background-color: none;
} 